# preliminary data analysis

In [2]:
import pandas as pd

In [3]:
dtype_games_details = {
    'GAME_ID': int,
    'TEAM_ID': int,
    'TEAM_ABBREVIATION': str,
    'TEAM_CITY': str,
    'PLAYER_ID': int,
    'PLAYER_NAME': str,
    'NICKNAME': str,
    'START_POSITION': str,
    'COMMENT': str,
    'MIN': str,  # You may want to handle this as time or float after cleaning
    'FGM': float,
    'FGA': float,
    'FG_PCT': float,
    'FG3M': float,
    'FG3A': float,
    'FG3_PCT': float,
    'FTM': float,
    'FTA': float,
    'FT_PCT': float,
    'OREB': float,
    'DREB': float,
    'REB': float,
    'AST': float,
    'STL': float,
    'BLK': float,
    'TO': float,
    'PF': float,
    'PTS': float,
    'PLUS_MINUS': float
}

dtype_games = {
    'GAME_DATE_EST': str,
    'GAME_ID': int,
    'GAME_STATUS_TEXT': str,
    'HOME_TEAM_ID': int,
    'VISITOR_TEAM_ID': int,
    'SEASON': int,
    'TEAM_ID_home': int,
    'PTS_home': float,
    'FG_PCT_home': float,
    'FT_PCT_home': float,
    'FG3_PCT_home': float,
    'AST_home': float,
    'REB_home': float,
    'TEAM_ID_away': int,
    'PTS_away': float,
    'FG_PCT_away': float,
    'FT_PCT_away': float,
    'FG3_PCT_away': float,
    'AST_away': float,
    'REB_away': float,
    'HOME_TEAM_WINS': int
}

dtype_players = {
    'PLAYER_NAME': str,
    'TEAM_ID': int,
    'PLAYER_ID': int,
    'SEASON': int
}

dtype_rankings = {
    'TEAM_ID': int,
    'LEAGUE_ID': int,
    'SEASON_ID': int,
    'STANDINGSDATE': str,
    'CONFERENCE': str,
    'TEAM': str,
    'G': int,
    'W': int,
    'L': int,
    'W_PCT': float,
    'HOME_RECORD': str,
    'ROAD_RECORD': str,
    'RETURNTOPLAY': float
}

dtype_teams = {
    'LEAGUE_ID': int,
    'TEAM_ID': int,
    'MIN_YEAR': int,
    'MAX_YEAR': int,
    'ABBREVIATION': str,
    'NICKNAME': str,
    'YEARFOUNDED': int,
    'CITY': str,
    'ARENA': str,
    'ARENACAPACITY': float,
    'OWNER': str,
    'GENERALMANAGER': str,
    'HEADCOACH': str,
    'DLEAGUEAFFILIATION': str
}

In [4]:
# import all datasets

games_details = pd.read_csv('data/games_details.csv', dtype = dtype_games_details)
games = pd.read_csv('data/games.csv', dtype = dtype_games)
players = pd.read_csv('data/players.csv', dtype = dtype_players)
ranking = pd.read_csv('data/ranking.csv', dtype = dtype_rankings)
teams = pd.read_csv('data/teams.csv', dtype = dtype_teams)

In [31]:
games_details

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [20]:
games.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0

In [21]:
players.head()

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019

In [22]:
ranking.head()

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN

In [23]:
teams.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [9]:
# Check the sizes of all loaded datasets and display them
games_details_size = games_details.shape
games_size = games.shape
players_size = players.shape
ranking_size = ranking.shape
teams_size = teams.shape

sizes = {
    'games_details.csv': games_details_size,
    'games.csv': games_size,
    'players.csv': players_size,
    'ranking.csv': ranking_size,
    'teams.csv': teams_size
}

sizes

{'games_details.csv': (668628, 29),
 'games.csv': (26651, 21),
 'players.csv': (7228, 4),
 'ranking.csv': (210342, 13),
 'teams.csv': (30, 14)}

In [5]:
# Unite the datasets
# base is game_details (largest one)
# unite games_details and games on game_id
# then unite this to player on player_id
# unite teams and ranking on team_id 
# finally unite the latter to the rest based on team_id
merged_games = pd.merge(games_details, games, on=["GAME_ID"])
merged_teams_rankings = pd.merge(teams, ranking, how="outer", on=["TEAM_ID", "LEAGUE_ID"])

In [7]:

import sqlite3
conn = sqlite3.connect(":memory:")
merged_games_players.to_sql('table1', conn, index=False)
merged_teams_rankings.to_sql('table2', conn, index=False)

(669560, 49)

In [13]:
query = """
SELECT * FROM table1 
LEFT JOIN table2 ON table1.TEAM_ID = table2.TEAM_ID

UNION

SELECT * FROM table2 
LEFT JOIN table1 ON table1.TEAM_ID = table2.TEAM_ID
"""
merged_df = pd.read_sql_query(query, conn)


# The system crashes before managing to complete the merge

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'GAME_DATE_EST', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')